In [14]:
import pandas as pd 
import numpy as np
from scipy import stats as stats
import statsmodels.api as sm
from scipy.stats import chi2
from scipy.stats import chi2_contingency

In [15]:
df=pd.read_csv("Costomer+OrderForm.csv")

In [16]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [17]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [18]:
df.sample(5)

    Phillippines   Indonesia       Malta       India
293   Error Free  Error Free  Error Free  Error Free
261   Error Free   Defective   Defective  Error Free
143   Error Free  Error Free  Error Free  Error Free
262   Error Free  Error Free  Error Free  Error Free
250   Error Free  Error Free  Error Free  Error Free

In [19]:
df.transpose().iloc[0,:].value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [20]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [21]:
for i in range(4):
    print(df.transpose().iloc[i,:].value_counts())

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64
Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64
Malta
Error Free    269
Defective      31
Name: count, dtype: int64
India
Error Free    280
Defective      20
Name: count, dtype: int64

In [22]:
observed=([[271,267,269,280],[29,33,31,20]])

In [23]:
stat,p,dof,expected=chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [31]:
alpha = 0.05
prob =1-alpha
critical=chi2.ppf(prob,dof)
print("probability=%.3f, critical=%.3f,stat=%.3f"%(prob,critical,stat))
if abs(stat)>= critical:
    print('Dependent(reject Ho),variables are related')
else:
    print('Independent(fail to  reject Ho ),variables are not related')

probability=0.950, critical=7.815,stat=3.859
Independent(fail to  reject Ho ),variables are not related

In [32]:
print("significance=%.3f,p=%.3f" % (alpha,p))
if p<= alpha:
    print("Dependent (reject H0)")
else:
    print("Independent(fail to reject H0)")

significance=0.050,p=0.277
Independent(fail to reject H0)